th
{
    background: grey;
    color: white;
}

.item_table
{
    width: 100%;
}

.search_field
{
    width: 100%;
    box-sizing: border-box;
}

button
{
    float: right;
}

.button_column
{
    width: 100px;
}

body
{
    font-family: Helvetica;
    margin: 0;
}

html, body
{
    height: 100%;
}

/* It is weird that I cannot seem to add a class to this div? */
.search_bar
{
    position: fixed;
    height: 20px;
    width: 100%;
    background: white;
    top: 0;
}

.table_container
{
    padding-top:20px;
    height: 100vh;
}

@media only screen and (max-width: 800px)
{
    body
    {
        font-size: 14pt;
        x-line-height: 50px;
    }

    .search_field
    {
        font-size: 14pt;
        auto-capitalize: off;
    }

    .table_container
    {
        padding-top:40px;
    }
    
}
