th
{
    background: grey;
    color: white;
}

#container
{
    /*border: 1px solid black;*/
    height: 100%;
}

.item_table
{
    width: 100%;
}

.search_field
{
    width: 100%;
    box-sizing: border-box;
}

button
{
    float: right;
}

.button_column
{
    width: 100px;
}

body
{
    font-family: Helvetica;
    height: 100%;
    margin: 0;
}

.table_container
{
    height: 100%;
    overflow-y: scroll;        
}

html
{
    height: 100%;
}

/* It is weird that I cannot seem to add a class to this div? */
#container > div
{
    height: 100%;
}